<div>
    <div class="splitview skewed">
        <div class="panel bottom">
            <div class="content">
                <div class="description">
                    <h1>
                        Tüm Mac Cihazlarınıza Arıza Tespisi <br> <span style="color: #FFD43B;">Ücretsiz</span>
                    </h1>
                </div>

                <img style="width: 100%; height: 100%;"
                     src="https://netrinoimages.s3.eu-west-2.amazonaws.com/2023/05/02/1481692/448884/apple_macbook_air_15_inch_2023_3d_model_c4d_max_obj_fbx_ma_lwo_3ds_3dm_stl_4612009_o.png"
                     alt="Original">
            </div>
        </div>

        <div class="panel top">
            <div class="content">
                <div class="description">
                    <h1>İphone Servis</h1>
                    <p style="color: #f5e3a3;">Ekran Değişimi</p>
                    <span style="color: #f5e3a3;">Batarya Değişimi</span>
                </div>

                <img style="width: 100%; height: 100%;"
                     src="https://files.tecnoblog.net/wp-content/uploads/2020/10/iPhone-12-Pro-Max-dourado-2.jpg"
                     alt="iphone">
            </div>
        </div>

        <div class="handle"></div>
    </div>
</div>
<div class="containermain">
    <div class="product-card">
        <div class="background"></div>
        <div class="background-texture"></div>

        <section class="carousel">
            <div style="display: flex; justify-content: center;">
                <h2 class="categories__title">Hizmetler</h2>
            </div>

            <div class="carousel__container">
                <div class="carousel-item">
                    <a asp-action="IphoneService">
                        <img class="carousel-item__img"
                             src="https://st-troy.mncdn.com/mnresize/1500/1500/Content/media/ProductImg/original/mu7k3tua-apple-iphone-15-pro-max-1tb-blue-titanium-638305579168585758.jpg"
                             alt="people" />
                        <div class="carousel-item__details">
                            <div class="controls">
                            </div>
                            <h1 class="carousel-item__details--title">İphone Servis</h1>
                            <h5 class="carousel-item__details--subtitle">Detaylı bilgi için tıklayınız</h5>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <img class="carousel-item__img"
                         src="https://www.jebinde.com/Content/ContentImage/638415375896719656-Macbook-Kullanim-Rehberi.jpg"
                         alt="people" />
                    <div class="carousel-item__details">
                        <div class="controls">
                        </div>
                        <h1 class="carousel-item__details--title">Macbook Servis</h1>
                        <h5 class="carousel-item__details--subtitle">Detaylı bilgi için tıklayınız</h5>
                    </div>
                </div>

                <div class="carousel-item">
                    <a asp-action="iPadService">
                        <img class="carousel-item__img"
                             src="https://www.apple.com/newsroom/images/product/ipad/standard/apple_ipad-pro-spring21_hero_04202021_big.jpg.large.jpg"
                             alt="people" />

                        <div class="carousel-item__details">
                            <div class="controls">
                            </div>
                            <h1 class="carousel-item__details--title">İpad Servis</h1>
                            <h5 class="carousel-item__details--subtitle">Detaylı bilgi için tıklayınız</h5>
                        </div>
                    </a>
                </div>

                <div class="carousel-item">
                    <img class="carousel-item__img"
                         src="https://scaleablethinking.files.wordpress.com/2023/11/dallc2b7e-2023-11-27-19.39.03-a-digital-art-showcasing-a-side-by-side-comparison-between-a-macbook-and-a-windows-laptop.-the-macbook-sleek-and-with-a-metallic-finish-features-a-p.png?w=810"
                         alt="people" />
                    <div class="carousel-item__details">
                        <div class="controls">
                        </div>
                        <h3 class="carousel-item__details--title">Mac ve Windows Kurulumu</h3>
                        <h5 class="carousel-item__details--subtitle">Detaylı bilgi için tıklayınız</h5>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="carousel-item__img"
                         src="https://cdn.i-scmp.com/sites/default/files/d8/images/methode/2021/06/08/7ee1037a-c4d9-11eb-b0c2-606eecf395cb_image_hires_135758.jpg"
                         alt="people" />
                    <div class="carousel-item__details">
                        <div class="controls">
                        </div>
                        <h3 class="carousel-item__details--title">iMac Servis</h3>
                        <h5 class="carousel-item__details--subtitle">Detaylı bilgi için tıklayınız</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-item__img"
                         src="https://www.apple.com/newsroom/images/product/watch/standard/watch_series_3_incoming_two-wrap_big.gif.large.gif"
                         alt="people" />
                    <div class="carousel-item__details">
                        <div class="controls">
                        </div>
                        <h1 class="carousel-item__details--title">Apple Watch Servis</h1>
                        <h5 class="carousel-item__details--subtitle">Detaylı bilgi için tıklayınız</h5>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div style="border-top:1px solid white ; text-align: center;" class="content-desc">
        <div class="contentapple" style="">
            <div>
                <img style="width: 70%; " src="/images/appletasarim1.jpg" alt="">
            </div>
            <img style="width: 50%; " src="/images/mactowertasarim1.jpg" alt="">
        </div>
        <div></div>
    </div>

    <div class="content-desc">
        <div class="concept">
            <div  class="concept-imgheight">
                <img style="height:100%;" src="https://www.digitaltrends.com/wp-content/uploads/2022/08/macbook-being-repaired.jpeg?p=1"
                     alt="">
            </div>
            <div>
                <h2>Tüm Cihazlarda Ücretsiz Arıza Tespiti</h2>
            </div>
        </div>
        <div class="concept">
            <div class="concept-imgheight">
                <img style="height: 100%;"
                     src="https://res.cloudinary.com/jerrick/image/upload/d_642250b563292b35f27461a7.png,f_jpg,fl_progressive,q_auto,w_1024/5ff30c097c6942001cf6551b.jpg"
                     alt="">
            </div>
            <div>
                <h2>iphone Ekran <br> Değişimi</h2>
            </div>
        </div>
        <div class="concept">
            <div class="concept-imgheight">
                <img style="height:100%;" class="concept-imgheight"
                     src="https://computergurus.co.uk/wp-content/uploads/2021/06/ipad.jpg" alt="">
            </div>
            <div>
                <h2>iPad Cihazlarda <br>Onarım</h2>

            </div>
        </div>
    </div>


    <div class="info-container">
        <div class="info-box">
            <i class="fa-solid fa-truck-fast" style="color: #fa6400; font-size: 50px;"></i>
            <h3>Teknik Servis</h3>
            <p>Profesyonel, Deneyimli, Güncel</p>
            <p>Yetkili servis sağlayıcınız olarak tüm işlemlerinizde yanınızdayız.</p>
        </div>
        <div class="info-box">
            <i class="fa-solid fa-square-envelope" style="color: #fa6400; font-size: 50px;"></i>

            <h3>İletişime Geçin</h3>
            <p>Size yardımcı olmak için buradayız</p>
            <p>0542 556 90 52 | <a href="mailto:info@macbookteknikservis.com">info@macbookteknikservis.com</a></p>
        </div>

    </div>


</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var parent = document.querySelector('.splitview'),
            topPanel = parent.querySelector('.top'),
            handle = parent.querySelector('.handle'),
            skewHack = 0,
            delta = 0;

        // If the parent has .skewed class, set the skewHack var.
        if (parent.className.indexOf('skewed') != -1) {
            skewHack = 1000;
        }

        parent.addEventListener('mousemove', function (event) {
            // Get the delta between the mouse position and center point.
            delta = (event.clientX - window.innerWidth / 2) * 0.5;

            // Move the handle.
            handle.style.left = event.clientX + delta + 'px';

            // Adjust the top panel width.
            topPanel.style.width = event.clientX + skewHack + delta + 'px';
        });
    });
</script>