@{
    ViewData["Title"] = "iPad Ekran Değişimi";
    ViewData["Description"] = "iPad ekran değişimi hizmeti sunan teknik servis. Uygun fiyatlarla garantili hizmet.";
}
<style>
    .ipad-service-design {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-ipad-service {
        max-width: 100%;
        background-color: #3a3a3a;
        text-align: center;
        padding-bottom: 5rem;
    }

        .content-ipad-service h2 {
            margin: 5rem;
            color: #9ea2a0;
        }

    .ipad-ekran-modelleri {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    b{
        color:white
    }

    img.responsive-img {
        max-width: 100%;
        height: auto;
    }

    @@media (max-width: 800px){
        .ipad-ekran-modelleri {
            flex-direction: column;
            font-size: 15px;
        }
    }
</style>



<div class="ipad-service-design">
    <div>
        <img class="responsive-img" style="height: 400px;" src="https://www.macbookteknikservis.com/wp-content/uploads/2017/04/ipad-ekran.png" alt="iPad ekran değişimi">
        <h1 style="color: white; text-align: center;">iPad Ekran Değişimi</h1>
    </div>

    <div class="content-ipad-service">
        <h2>
            iPad modellerinde darbe sonrası ekranda kırılmalar, çatlamalar, görüntü yok sorunu, ekranda titremeler, sıvı teması sorunu gibi arızalar yaşanmaktadır. Bu tür sorunlar yaşıyorsanız cihazınızın ekran değişimi yapılması gerekmektedir. Cihazınızın ön cam değişimini de yapmaktayız. Görüntüde ve dokunmatik kısmında sorun olmayan modellerde ön cam değişimi de yapılmaktadır. Uygun fiyat seçeneklerimizle hizmet vermekteyiz. İşlem süresi 1-7 gün arası gibi kısa bir sürede sonuçlanmaktadır. Yapılan işlem garantilidir. Fiyat bilgisi için cihazınızın seri numarasını mail ya da WhatsApp’tan iletip bilgi alabilirsiniz.
        </h2>

        <div class="ipad-ekran-modelleri">
            <div style="margin-bottom: 1rem;">
                <b>ipad a1416 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1430 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1403 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1458 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1459 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1460 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1599 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1600 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1538 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1550 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2838 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1652 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1673 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1674 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1822 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1823 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1701 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1709 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1670 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1671 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1821 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1893 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1954 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1980 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2013 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1934 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1979 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1876 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2014 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1895 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a1983 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2152 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2123 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2153 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2154 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2133 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2124 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2125 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2126 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2197 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2200 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2198 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2199 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2228 ön Cam ve Ekran Değişimi</b><br>
            </div>
            <div>
                <b>ipad a2068 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2230 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2231 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2229 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2069 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2232 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2233 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2270 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2428 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2429 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2430 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2316 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2324 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2072 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2325 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2377 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2459 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2301 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2460 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2378 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2461 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2379 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2462 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2602 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2604 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2603 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2605 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2567 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2568 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2569 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2588 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2589 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2591 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2696 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2757 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2777 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2759 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2435 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2761 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2762 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2436 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2764 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2437 ön Cam ve Ekran Değişimi</b><br>
                <b>ipad a2766 ön Cam ve Ekran Değişimi</b><br>
            </div>
        </div>

        <a style="margin-top: 5rem; width: 50%;" class="button-5" role="button"><i class="fa-solid fa-phone"></i>İletişime Geç</a>
    </div>
</div>