@{
    ViewData["Title"] = "Iphone Ekran Değişimi";
    ViewData["Description"] = "Iphone ekran değişimi hizmeti sunan teknik servis. Uygun fiyatlarla garantili hizmet.";
}

@section Styles {
    <style>
        .ipad-service-design {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .content-ipad-service {
            max-width: 100%;
            background-color: #3a3a3a;
            text-align: center;
            padding-bottom: 5rem;
        }

        .content-ipad-service h2 {
            margin: 5rem;
            color: #9ea2a0;
        }

        .ipad-ekran-modelleri {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        b {
            color: white;
        }

        img.responsive-img {
            max-width: 100%;
            height: auto;
        }

        @@media (max-width: 800px) {
            .ipad-ekran-modelleri {
                flex-direction: column;
                font-size: 15px;
            }
        }
    </style>
}

<div class="ipad-service-design">
    <div>
        <img class="responsive-img" style="height: 400px;" src="https://www.macbookteknikservis.com/wp-content/uploads/2017/04/iphone-ekran.png" alt="Iphone ekran değişimi">
        <h1 style="color: white; text-align: center;">Iphone Ekran Değişimi</h1>
    </div>

    <div class="content-ipad-service">
        <h2>
            iPhone Modellerde darbe sonrası ekranda kırılmalar, çatlamalar, görüntü yok sorunu, ekranda titremeler, sıvı teması sorunu gibi sorunlar yaşanmaktadır. Bu tür sorunlar yaşıyorsanız cihazınızın ekran değişimi yapılması gerekmektedir. Cihazınızın ön cam değişimini de yapmaktayız. Görüntüde ve dokunmatik kısmında sorun olmayan modellerde ön cam değişimi de yapılmaktadır. Uygun fiyat seçeneklerimizle yardımcı olmaktayız. İşlem süresi 1-3 gün arası gibi kısa bir sürede sonuçlanmaktadır. Yapılan işlem garantilidir. Fiyat bilgisi için cihazınızın model numarasını mail ya da WhatsApp’tan iletip bilgi alabilirsiniz.
        </h2>

        <b>
            <div class="ipad-ekran-modelleri">
                <div style="margin-bottom: 1rem;">
                    iPhone 6 ön cam ve ekran değişimi<br>
                    iPhone 6s ön cam ve ekran değişimi<br>
                    iPhone 7 ön cam ve ekran değişimi<br>
                    iPhone 7 Plus ön cam ve ekran değişimi<br>
                    iPhone 8 ön cam ve ekran değişimi<br>
                    iPhone 8 Plus ön cam ve ekran değişimi<br>
                    iPhone X ön cam ve ekran değişimi<br>
                    iPhone XS ön cam ve ekran değişimi<br>
                    iPhone XS Max ön cam ve ekran değişimi<br>
                    iPhone 11 ön cam ve ekran değişimi<br>
                    iPhone 11 Pro ön cam ve ekran değişimi<br>
                    iPhone 11 Pro Max ön cam ve ekran değişimi<br>
                    iPhone 12 ön cam ve ekran değişimi<br>
                    iPhone 12 Pro ön cam ve ekran değişimi<br>
                </div>
                <div>
                    iPhone 12 Pro Max ön cam ve ekran değişimi<br>
                    iPhone 12 Mini ön cam ve ekran değişimi<br>
                    iPhone 13 ön cam ve ekran değişimi<br>
                    iPhone 13 Pro ön cam ve ekran değişimi<br>
                    iPhone 13 Pro Max ön cam ve ekran değişimi<br>
                    iPhone 13 Mini ön cam ve ekran değişimi<br>
                    iPhone 14 ön cam ve ekran değişimi<br>
                    iPhone 14 Pro ön cam ve ekran değişimi<br>
                    iPhone 14 Pro Max ön cam ve ekran değişimi<br>
                    iPhone 14 Plus ön cam ve ekran değişimi<br>
                    iPhone 15 ön cam ve ekran değişimi<br>
                    iPhone 15 Pro ön cam ve ekran değişimi<br>
                    iPhone 15 Pro Max ön cam ve ekran değişimi<br>
                    iPhone 15 Plus ön cam ve ekran değişimi<br>
                </div>
            </div>
        </b>

        <a style="margin-top: 5rem; width: 50%;" class="button-5" role="button"><i class="fa-solid fa-phone"></i>İletişime Geç</a>
    </div>
    <div class="ipad-service-design">
        <div>
            <img class="responsive-img" style="height: 400px;" src="https://www.macbookteknikservis.com/wp-content/uploads/2017/04/iphone-batarya.png" alt="Iphone batarya değişimi">
            <h1 style="color: white; text-align: center;">Iphone Batarya Değişimi</h1>
        </div>

        <div class="content-ipad-service">
            <h2>
                iPhone modellerde şarj çabuk bitiyor, şarjdan çekince cihazım kapanıyor, batarya servis hatası veriyor gibi sorunlar yaşanmaktadır. Bu tür sorunlar yaşıyorsanız cihazınızın batarya değişimi yapılması gerekmektedir. Servisimiz tarafından batarya değişimi yapılmaktadır. Uygun fiyat seçeneklerimizle yardımcı olmaktayız. Takılan ürün garantili üründür. Fiyat bilgisi için cihazınızın model numarasını mail ya da WhatsApp’tan iletip bilgi alabilirsiniz.
            </h2>

            <b>
                <div class="ipad-ekran-modelleri">
                    <div style="margin-bottom: 1rem;">
                        iPhone 6 batarya değişimi<br>
                        iPhone 6s batarya değişimi<br>
                        iPhone 7 batarya değişimi<br>
                        iPhone 7 Plus batarya değişimi<br>
                        iPhone 8 batarya değişimi<br>
                        iPhone 8 Plus batarya değişimi<br>
                        iPhone X batarya değişimi<br>
                        iPhone XS batarya değişimi<br>
                        iPhone XS Max batarya değişimi<br>
                        iPhone 11 batarya değişimi<br>
                        iPhone 11 Pro batarya değişimi<br>
                        iPhone 11 Pro Max batarya değişimi<br>
                        iPhone 12 batarya değişimi<br>
                        iPhone 12 Pro batarya değişimi<br>
                    </div>
                    <div>
                        iPhone 12 Pro Max batarya değişimi<br>
                        iPhone 12 Mini batarya değişimi<br>
                        iPhone 13 batarya değişimi<br>
                        iPhone 13 Pro batarya değişimi<br>
                        iPhone 13 Pro Max batarya değişimi<br>
                        iPhone 13 Mini batarya değişimi<br>
                        iPhone 14 batarya değişimi<br>
                        iPhone 14 Pro batarya değişimi<br>
                        iPhone 14 Pro Max batarya değişimi<br>
                        iPhone 14 Plus batarya değişimi<br>
                        iPhone 15 batarya değişimi<br>
                        iPhone 15 Pro batarya değişimi<br>
                        iPhone 15 Pro Max batarya değişimi<br>
                        iPhone 15 Plus batarya değişimi<br>
                    </div>
                </div>
            </b>

            <a style="margin-top: 5rem; width: 50%;" class="button-5" role="button"><i class="fa-solid fa-phone"></i>İletişime Geç</a>
        </div>
    </div>
</div>

