
<div class="containermain">
    
    <div class="card-title">
        <h1 style="text-align: center; color: white;">Tüm Hizmetlerimiz</h1>
        <div class="container-card">
            <div class="card">
                <img src="/images/klavyemac.png" alt="Kart Görseli">
                <div class="card-content">
                    <h2>Macbook Klavye Değişimi</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/Trackpad.jpg" alt="Kart Görseli">
                <div class="card-content">
                    <h2>Macbook Trackpad Değişimi</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/batarya.jpg">
                <div class="card-content">
                    <h2>Macbook Batarya Değişimi</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/ekranmac.jpg">
                <div class="card-content">
                    <h2>Macbook Ekran Değişimi</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/imacekran.jpg">
                <div class="card-content">
                    <h2>iMac Ekran Değişimi</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/iphonebatarya.jpg">
                <div class="card-content">
                    <h2>iphone Batarya Değişimi</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/iphoneekran.jpg">
                <div class="card-content">
                    <h2>iphone Ekran Değişimi</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/ipadekran.jpg">
                <div class="card-content">
                    <h2>iPad Ekran Tamiri</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/watchekran.jpg">
                <div class="card-content">
                    <h2>Watch Ekran Onarımı</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/macwin.jpg">
                <div class="card-content">
                    <h2>MacOs & Windows Kurulumu</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <div class="card">
                <img src="/images/adaptor.jpg">
                <div class="card-content">
                    <h2>Adaptör Kablo Değişimi</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>

            <div class="card">
                <img src="/images/firmware.jpg">
                <div class="card-content">
                    <h2>Firmware Şifre Kaldırma</h2>
                    <a href="#" class="button-5">Daha Fazla Bilgi</a>
                </div>
            </div>
        </div>
    </div>
</div>